
/* Search container */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 250px; /* Change this value as per your requirement */
    margin: auto; 

  }
  
  /* Search input */
  .search-container input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 1rem;
    width: 70%;
    font-size: 16px;
    background: linear-gradient(89deg, #9a6755 4%, #d1f1f0 96%);
}
  
  /* Search button */
  .search-container i{
    position: relative;
    
    padding: 5px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transform: translate(-120%);



  }
  
  /* Search icon */
  .search-container i {
    font-size: 16px;
  }
  